.info-block {
  position: relative;
}

.info-section.visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

@media (max-width: 990px) {
  .info-block {
    width: 100% !important;
    max-width: 100% !important;
    left: 0 !important;
    padding: 20px 40px !important;
  }
}

.info-section:nth-child(1) {
  transition-delay: 0.1s;
}
.info-section:nth-child(2) {
  transition-delay: 0.2s;
}
.info-section:nth-child(3) {
  transition-delay: 0.3s;
}
.info-section:nth-child(4) {
  transition-delay: 0.4s;
}
