.work-experience-container {
  padding: 40px 20px;
  margin: 20px 0;
  position: relative;
  z-index: 2;
}

.work-experience-container h2 {
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
}
