.hero-banner {
  width: calc(100% + 40px);
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: auto 100%;
  background-position: center;
  background-repeat: repeat-x;
  z-index: 2;
  /* Not bug */
  margin-left: -20px;
}

.hero-banner-images-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 100%;
  z-index: 2;
}

.hero-banner-person {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: auto;
  z-index: 2;
}

.hero-banner-coffee {
  position: absolute;
  top: 0%;
  left: 5%;
  width: 100px;
  height: auto;
  z-index: 3;
}

.hero-banner-laptop {
  position: absolute;
  bottom: -20%;
  left: -30%;
  width: 320px;
  height: auto;
  z-index: 3;
}

.hero-banner-phone {
  position: absolute;
  top: 15%;
  right: -10%;
  width: 150px;
  height: auto;
  z-index: 3;
}

.hero-banner-content {
  position: relative;
  z-index: 2;
  color: #ffffff;
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-banner-content h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .hero-banner {
    min-height: 400px;
  }

  .hero-banner-content h1 {
    font-size: 2.5rem;
  }

  .hero-banner__btn {
    padding: 12px 50px !important;
  }
}
