.rotating-logo-banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.rotating-image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: rotate-background var(--rotation-speed, 20s) linear infinite;
}

.center-logo {
  position: relative;
  z-index: 1;
  width: 40%;
  height: 40%;
  object-fit: contain;
}

@keyframes rotate-background {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
