.title-with-bg-wrapper {
  position: relative;
  display: inline-block;
  background-color: red;
  z-index: 2;
}

.title-with-bg {
  /* TODO: not bug its feature =) */
  transform: scale(1) translateY(0px) !important;
  opacity: 1 !important;
  margin: 0 !important;
  /* ---------------------------- */

  position: relative;
  z-index: 1;
  -webkit-text-fill-color: #ffffff !important;
  -webkit-background-clip: initial !important;
  background-clip: initial !important;
  background: none !important;
  color: #ffffff !important;
}
