.mobile-service-card {
  position: relative;
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 2.1rem;
  height: 450px;
  cursor: pointer;
}

.service-card-image-wrapper {
  flex: 0 0 50%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.service-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.mobile-service-card:hover .service-card-image {
  transform: scale(1.05);
}

.service-card-left {
  flex-direction: row;
}

.service-card-right {
  flex-direction: row-reverse;
}

.service-card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 20px;
  text-align: left;
  align-items: start;
}

.service-card-right .service-card-content {
  text-align: right;
  align-items: end;
  padding-left: 60px;
}
.service-card-left .service-card-content {
  padding-right: 60px;
}

.service-card-title {
  color: #000;
  font-size: 2.2rem;
  font-weight: 900;
}

.service-card-divider {
  width: 100%;
  height: 1.5px;
  background-color: #000;
  opacity: 0.3;
  margin: 1.5rem 0;
}

.service-card-vertical-divider {
  width: 1.5px;
  height: 100%;
  border-left: 1.5px dashed #000;
  opacity: 0.3;
  flex-shrink: 0;
}

.service-card-description {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.85rem;
  line-height: 1.8;
  margin: 0;
}

.service-card-accent {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-service-card .service-card-button {
  right: -400px;
  bottom: 50px;
  opacity: 0;
  transition: all 0.5s ease;
}

.mobile-service-card:hover .service-card-button {
  right: -100px;
  bottom: -180px;
  opacity: 0.6;
}

@media (max-width: 1100px) {
  .mobile-service-card {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    height: auto;
    padding-bottom: 2rem;
  }

  .service-card-image-wrapper {
    flex: 0 0 auto;
    width: 100%;
    height: 200px;
  }

  .service-card-vertical-divider {
    display: none;
  }

  .service-card-content {
    padding: 0 !important;
    text-align: center !important;
    align-items: center !important;
  }
  .service-card-divider {
    width: 100%;
  }

  .service-card-content .service-card-description,
  .service-card-content .service-card-title {
    padding: 0 2rem;
  }
}
