* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* language-switcher-container */
.language-switcher-container {
  position: fixed;
  top: 30px;
  right: 10px;
  z-index: 1000;
}

@media (max-width: 1200px) {
  .language-switcher-container {
    top: 110px;
    right: 5%;
  }
}
@media (max-width: 990px) {
  .language-switcher-container {
    display: none;
  }
}
